<form [formGroup]="signinForm">
  <app-text-input
    [control]="signinForm.get('email')"
    fieldId="login-email-input"
    label="E-mail"
  ></app-text-input>
  <app-text-input
    [control]="signinForm.get('password')"
    fieldId="login-password-input"
    label="Senha"
  ></app-text-input>

  <div class="row">
    <div class="col-12 my-1">
      <button id="login-enter-button" class="btn btn-primary btn-block" (click)="authenticateUser()">
        Entrar
      </button>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-3">
    <p>
      Ainda não tem conta? clique
      <span routerLink="/signup" class="text-primary">aqui</span>
      para se cadastrar
    </p>
  </div>
</form>
