<div class="form-group">
  <label for="description" [ngClass]="{ 'text-danger': !isValid() }">{{
    label
  }}</label>
  <input
    [id]="fieldId"
    class="form-control"
    [formControl]="control"
    [ngClass]="{ 'is-invalid': !isValid() }"
  />

  <div *ngIf="control?.errors?.required" class="invalid-feedback">
    Campo obrigatório
  </div>
  <div *ngIf="control?.errors?.email" class="invalid-feedback">
    E-mail inválido
  </div>
  <div *ngIf="control?.errors?.minlength" class="invalid-feedback">
    Campo deve ter no minimo
    {{ control.errors?.minlength?.requiredLength }}
    caracteres.
  </div>
  <div *ngIf="control?.errors?.maxlength" class="invalid-feedback">
    Campo deve ter no maximo
    {{ control.errors?.maxlength?.requiredLength }}
    caracteres.
  </div>
  <div *ngIf="control?.errors?.min" class="invalid-feedback">
    Valor do campo não pode ser a
    {{ control.errors?.min?.min }}
    .
  </div>
</div>
