<form [formGroup]="signupForm">
  <app-text-input
    [control]="signupForm.get('email')"
    fieldId="login-email-input"
    label="E-mail"
  ></app-text-input>
  <app-text-input
    [control]="signupForm.get('password')"
    fieldId="login-password-input"
    label="Senha"
  ></app-text-input>
  <app-text-input
    [control]="signupForm.get('passwordConfirmation')"
    fieldId="login-passwordconfirmation-input"
    label="Confirmação de Senha"
  ></app-text-input>
  <app-alert
    *ngIf="showErrorAlert()"
    [type]="'error'"
    [message]="'Senha e confirmação de senha devem ser iguais.'"
    [closable]="false"
  ></app-alert>
</form>
<div class="row">
  <div class="col-6 my-1">
    <button class="btn btn-danger btn-block" routerLink="/">Cancelar</button>
  </div>
  <div class="col-6 my-1">
    <button class="btn btn-primary btn-block" (click)="createUser()">
      Cadastrar
    </button>
  </div>
</div>
