<form [formGroup]="form">
  <app-text-input
    [control]="form.get('description')"
    fieldId="transaction-description-input"
    label="Descrição"
  ></app-text-input>

  <div class="row">
    <div class="col-md-6">
      <app-monetary-input
        [control]="form.get('value')"
        label="Valor"
        fieldId="transaction-value-input"
      ></app-monetary-input>
    </div>
    <div class="col-md-6">
      <app-date-input
        [control]="form.get('date')"
        label="Data"
        fieldId="transaction-date-input"
      ></app-date-input>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-select
        fieldId="transaction-type-select"
        optionLabel="description"
        optionValue="pkTransactionType"
        label="Tipo"
        [options]="typeFieldOptions"
        [control]="form.get('type')"
        (onChange)="typeFieldChanged()"
      ></app-select>
    </div>
    <div class="col-md-6">
      <app-select
        fieldId="transaction-category-select"
        optionLabel="description"
        optionValue="pkTransactionCategory"
        label="Categoria"
        [options]="categoryOptionsFiltered()"
        [control]="form.get('category')"
      ></app-select>
    </div>
  </div>
</form>
