<button
  type="button"
  class="btn btn-success"
  (click)="openAddTransactionModal()"
>
  Adicionar
</button>

<app-modal [modalId]="addTransactionModalId">
  <div title>Adicione uma transação</div>
  <div body>
    <app-transaction-form [form]="transactionForm"></app-transaction-form>
    <app-alert
      [message]="errorMessage"
      [type]="'error'"
      (onAlertClear)="clearErrorMessage()"
    ></app-alert>
    values: {{ transactionForm.value | json }} <br />
    descriptionError:
    {{ transactionForm.get("description").errors | json }} descriptionError:
    {{ transactionForm.get("value").errors | json }}
  </div>
  <div footer>
    <button class="btn btn-danger mx-2" (click)="closeAddTransactionModal()">
      Fechar
    </button>
    <button class="btn btn-primary mx-2" (click)="addTransaction()">
      Adicionar
    </button>
  </div>
</app-modal>
