<div class="h-100 d-flex align-items-center">
  <div class="card col-md-6 mx-auto shadow">
    <div class="card-body">
      <form [formGroup]="loginForm">
        <app-text-input
          [control]="loginForm.get('email')"
          fieldId="login-email-input"
          label="E-mail"
        ></app-text-input>
        <app-text-input
          [control]="loginForm.get('userPassword')"
          fieldId="login-password-input"
          label="Senha"
        ></app-text-input>
        <app-alert
          [message]="errorMessage"
          type="error"
          (onAlertClear)="clearErrorMessage()"
        ></app-alert>
      </form>
      <div class="row">
        <div class="col-md-6 my-1">
          <button class="btn btn-success btn-block">Cadastre-se</button>
        </div>
        <div class="col-md-6 my-1">
          <button class="btn btn-primary btn-block" (click)="authenticateUser()">
            Entrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
